.cKBiPJ:nth-child(odd){
    background-color: #f2f2f2 !important;
    cursor: pointer !important;
 }
 .cKBiPJ:nth-child(even){
     background-color: #fff !important;
     cursor: pointer !important;
  }
  .PhoneInputInput{
    border:none !important;
    outline:none !important
  }
  .jWpMhA {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
    background-color: #009ef7 !important;
    min-height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-left: 10px solid #009ef7 !important;
    border-right: 10px solid #009ef7 !important;
 }
 
 
 .hBHzWR {
    color:white !important
 }
 
 .itmdas {
    display: flex;
    flex-direction: column;
    width: 97% !important;
    margin: auto !important;
 }
 .cOhUY {
    display: flex;
    flex: 1 1 auto;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
    width: 100%;
    color: white !important;
    font-size: 13px;
    min-height: 56px;
    background-color: #009ef7 !important;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border-left: 10px solid #009ef7 !important;
    border-right: 10px solid #009ef7 !important;
 }
 .jriwbs:disabled {
    cursor: unset;
    color: white !important;
    fill: white !important;
 }
 .jriwbs {
    position: relative;
    display: block;
    user-select: none;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    color: white !important;
    fill: white !important;
 }
 
 