.ql-toolbar.ql-snow + .ql-container.ql-snow{
    height:200px !important;
    background-color: #f2f2f2 !important;
}
.ql-container.ql-snow{
    height:200px !important;
    background-color: #f2f2f2 !important;
}